// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 18px;
  color: black;
}

table {
  display: table;
  width: 80%;
}